<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TimelineShuffleSoundFileType</key>
	<string>mp3</string>
	<key>TimelineShuffleSoundFileName</key>
	<string>Shuffle</string>
	<key>AppleTVBackgroundSongFileType</key>
	<string>mp3</string>
	<key>AppleTVBackgroundSongFileName</key>
	<string>bensound-littleidea</string>
	<key>TimelineNumberOfCardsInStartingHand</key>
	<integer>4</integer>
	<key>TimelineDecks</key>
	<dict>
		<key>AmericanHistory</key>
		<array>
			<dict>
				<key>id</key>
				<string>0</string>
				<key>year</key>
				<string>1969</string>
				<key>imageName</key>
				<string>discovery</string>
				<key>title</key>
				<string>Neil Armstrong walked on the moon</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1</string>
				<key>year</key>
				<string>1799</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Death of George Washington</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2</string>
				<key>year</key>
				<string>1865</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Abraham Lincoln Assassinated</string>
			</dict>
			<dict>
				<key>id</key>
				<string>3</string>
				<key>year</key>
				<string>1789</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>George Washington first elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4</string>
				<key>year</key>
				<string>1941</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>Pearl Harbor</string>
			</dict>
			<dict>
				<key>id</key>
				<string>5</string>
				<key>year</key>
				<string>1867</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>Purchase of Alaska</string>
			</dict>
			<dict>
				<key>id</key>
				<string>6</string>
				<key>year</key>
				<string>1903</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>Wright Brothers&apos; first flight</string>
			</dict>
			<dict>
				<key>id</key>
				<string>7</string>
				<key>year</key>
				<string>1992</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Bill Clinton first elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>8</string>
				<key>year</key>
				<string>1968</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Martin Luther King assassinated</string>
			</dict>
			<dict>
				<key>id</key>
				<string>9</string>
				<key>year</key>
				<string>1965</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Malcolm X assassinated</string>
			</dict>
			<dict>
				<key>id</key>
				<string>10</string>
				<key>year</key>
				<string>1963</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Kennedy assassinated</string>
			</dict>
			<dict>
				<key>id</key>
				<string>11</string>
				<key>year</key>
				<string>1932</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Franklin D. Roosevelt first elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>12</string>
				<key>year</key>
				<string>1968</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Richard Nixon first elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>13</string>
				<key>year</key>
				<string>1929</string>
				<key>imageName</key>
				<string>place</string>
				<key>title</key>
				<string>The Museum of Modern Art opened in NYC</string>
			</dict>
			<dict>
				<key>id</key>
				<string>14</string>
				<key>year</key>
				<string>1929</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>Beginning of the Great Depression</string>
			</dict>
			<dict>
				<key>id</key>
				<string>15</string>
				<key>year</key>
				<string>1960</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>John F. Kennedy elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>16</string>
				<key>year</key>
				<string>1980</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Ronald Reagan first elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>17</string>
				<key>year</key>
				<string>1692</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>Salem Witch Trials</string>
			</dict>
			<dict>
				<key>id</key>
				<string>18</string>
				<key>year</key>
				<string>1900</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Theodore Roosevelt elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>19</string>
				<key>year</key>
				<string>2008</string>
				<key>imageName</key>
				<string>person</string>
				<key>title</key>
				<string>Barack Obama first elected President</string>
			</dict>
			<dict>
				<key>id</key>
				<string>20</string>
				<key>year</key>
				<string>1803</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>Louisiana purchase</string>
			</dict>
			<dict>
				<key>id</key>
				<string>21</string>
				<key>year</key>
				<string>1917</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>The United States&apos; involvement in World War I</string>
			</dict>
			<dict>
				<key>id</key>
				<string>22</string>
				<key>year</key>
				<string>1865</string>
				<key>imageName</key>
				<string>event</string>
				<key>title</key>
				<string>Last Battle of the Civil War</string>
			</dict>
			<dict>
				<key>id</key>
				<string>23</string>
				<key>year</key>
				<string>1960</string>
				<key>imageName</key>
				<string>invention</string>
				<key>title</key>
				<string>Last version of American Flag</string>
			</dict>
			<dict>
				<key>id</key>
				<string>24</string>
				<key>year</key>
				<string>1947</string>
				<key>imageName</key>
				<string>discovery</string>
				<key>title</key>
				<string>Founding of the CIA</string>
			</dict>
		</array>
	</dict>
	<key>TimelineLoseMessage</key>
	<string>Aww man, better luck next time!</string>
	<key>TimelineWinMessage</key>
	<string>You showed them who&apos;s boss!</string>
	<key>AnswerIfWonAction</key>
	<string>ANSWER_DID_WIN</string>
	<key>AskIfWonAction</key>
	<string>ASK_DID_WIN</string>
	<key>BeginingHandAction</key>
	<string>BEGINNING_HAND</string>
	<key>MoveAction</key>
	<string>MOVE_PLAYED</string>
	<key>PlayCardAction</key>
	<string>PLAY_CARD</string>
	<key>NewCardAction</key>
	<string>NEW_CARD</string>
	<key>ChangePlayerTurn</key>
	<string>CHANGE_PLAYER_TURN</string>
	<key>TimelineMaxPlayers</key>
	<integer>5</integer>
	<key>TimelineMinPlayers</key>
	<integer>1</integer>
	<key>BoardUpdatedAction</key>
	<string>BOARD_UPDATED</string>
	<key>EndGameAction</key>
	<string>END_GAME</string>
	<key>StartGameAction</key>
	<string>START_GAME</string>
	<key>AllSocketIDs</key>
	<string>ALL_SOCKETS</string>
	<key>AllPlayerIDs</key>
	<string>ALL_PLAYERS</string>
	<key>SpectatorRole</key>
	<string>SPECTATOR</string>
	<key>ServerRole</key>
	<string>SERVER</string>
	<key>GameRole</key>
	<string>GAME</string>
	<key>PlayerRole</key>
	<string>PLAYER</string>
	<key>TimelineTitle</key>
	<string>Timeline</string>
	<key>HerokuURL</key>
	<string>https://bored-games.herokuapp.com</string>
</dict>
</plist>
